/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.home-heading {
    color: royalblue;
}

.user-img {
    width: 300px;
    height: auto;
}

.users-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-user-link {
    color: black;
    text-decoration-line: underline;
    font-size: 19px;
    font-weight: 500;
}

.add-user-link:hover {
    cursor: pointer;
}

.users-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.user {
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px;
}

.user-form {
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 285px;
    padding: 5px;
}

.user-form input {
    display: block;
    margin: 5px;
}

.btn {
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    color: white;
    margin: 5px;
}

.edit-btn {
    background-color: green;
}

.delete-btn {
    background-color: firebrick;
}

.submit-btn {
    background-color: royalblue;
}

.close-btn {
    background-color: goldenrod;
}